/*
HIGH-LOW GAME
STYLESHEET
GEO V.
*/

* { box-sizing: border-box; }
*::before, *::after { box-sizing: inherit; }
body {
  --primary:#fffcdf;
  --secondary: #201717;
  font-family: 'Figtree', sans-serif;
  color: var(--primary);
  background: var(--secondary);
}
html {
  margin: auto;
  user-select: none;
  padding: 16px;
  width: auto;
  height: 100%;
  align-content: center;
}
header {
  font-size: 2em;
  font-weight: 800;
  text-align: center;
  line-height: 1.6em;
}
.l1 {
  position: absolute;
  top: 50px;
  left: 200px;
  transform: scale(4);
}
.l2 {
  position: absolute;
  right: 200px;
  bottom: 80px;
  transform: scale(4);
}
.flex-wrap {
  text-align: center;
  display: flex;
  flex-direction: column;
}
main {
  margin: auto;
  padding: 32px;
  border-radius: 8px;
  outline: 6px solid var(--primary);
  text-align: center;
  max-width: 480px;
  box-shadow: 0 0 16px var(--primary);
}
main p { margin: 8px 0; }
main a {
  display: inline;
  text-decoration: none;
  color: inherit;
  font-weight: 600;
}
button {
  margin: 16px;
  background: none;
  border: 6px solid var(--primary);
  color: var(--primary);
  padding: 8px 16px;
  font-family: inherit;
  font-size: 1.2em;
  font-weight: 900;
  transition: linear 0.2s all;
}
button:hover {
  background: var(--primary);
  color: var(--secondary);
  cursor: pointer;
}
button:active {
  transform: scale(0.95);
  box-shadow: 0 0 16px var(--primary);
}
#vp-warning { display: none; }

/* Author Tag */
#namehere {
  position: fixed;
  bottom: 16px;
  right: 8px;
  padding: 8px;
  font-size: 10px;
  letter-spacing: 1px;
  color: var(--secondary);
  font-family: inherit;
  background-color: var(--primary);
  user-select: none;
  transition: 1s;
  opacity: 50%;
}
#namehere:hover { opacity: 100%; }

/* Breaks */
@media screen and (min-width: 0) and (max-width: 376px) { 
  header {
    font-size: 1.2em;
    color: #302121;
  }
  main { display: none; }
  body { box-shadow: none; }
  #vp-warning {
    display: contents;
    text-align: center;
  }
  #namehere { display: none; }
}
@media screen and (min-width: 377px) and (max-width: 426px) {
  header { font-size: 1.2em; }
  .l1 { left: 250px; }
  .l2 { right: 250px; }
}
@media screen and (orientation: landscape) and (max-height: 720px) {
  header { display: none; }
}